.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 100px;

  &__one-center-img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
  }
  &__one-center-img:hover {
    transition: all 0.2s linear;
    transform: scale(1.05);
  }
  &__one-bootom-img {
    width: 30px;
  }
  &__card {
    width: 238px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__one-top {
    position: relative;
    // padding: 1px 1px;
    border-radius: 8px;
    background-color: #efefef;
    height: 300px;
    text-align: center;
  }

  &__one-top-botom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__one-top-botom-btn {
    padding: 4px 8px;
    background-color: #7000ff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  &__one-second-center1 {
    display: flex;
    align-items: start;
    gap: 10px;
  }
  &__one-second-center1-p,
  &__one-second-center2-p {
    margin-bottom: 0;
  }

  &__one-second-center {
    align-items: start;
  }
  &__one-center-title {
    padding-top: 10px;
    font-size: 16px;
    color: #3b3c41;
    font-size: 16px;
  }
  &__one-second-center-p {
    padding: 2px 4px;
    background-color: yellow;
    border-radius: 3px;
    width: fit-content;
    margin-top: 9px;
  }
  &__one-second-center1-p {
    color: #afb1b9;
  }
  &__one-bootom-sum {
    text-decoration: line-through;
    color: #a0a3ac;
  }
  &__one-bootom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__one-top-img {
    z-index: 1;
    width: 25px;
  }
  &__one-bootom-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
.title {
  display: flex;
  align-items: center;
  grid-area: 10px;
  margin-bottom: 21px;
}
#heart {
  position: absolute;
  top: 8px;
  right: 8px;
}
.deleate-btn:hover {
  background-color: #ff000090;
}

@media only screen and (max-width: 1200px) {
  .hero {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 574px) {
  .hero {
    gap: 10px;
  }
  .hero__card {
    transition: none;
    margin-top: 10px;
    width: 170px;
    height: 420px;
    margin-bottom: 110px;
  }
  .hero__one-center-img {
    width: 130px;
  }
}
@media only screen and (max-width: 390px) {
  .hero__card {
    width: 160px;
    height: 450px;
    // margin-bottom: 80px;
  }
  .hero__one-center-img {
    width: 130px;
  }
}
@media only screen and (max-width: 370px) {
  .hero__card {
    width: 150px;
    height: 450px;
    margin-bottom: 90px;
  }
  .hero__one-center-img {
    width: 110px;
  }
}
@media only screen and (max-width: 350px) {
  .hero__card {
    width: 140px;
    height: 450px;
    margin-top: 10px;
  }
  .hero__one-center-img {
    width: 100px;
  }
}
