.slider {
  margin-bottom: 48px;
  &__img {
    position: relative;
    width: 100%;
  }
  &__img-left {
    position: absolute;
    top: 45%;
    left: 11%;
  }
  &__img-arrow-right {
    position: absolute;
    top: 45%;
    right: 11%;
  }
}
// .swiper-button-prev:after {
//   content: url("/Uzum.uz/assets/images/slider-left.png");
// }

.swiper-button-prev::after {
  content: url(../assets/images/slider-left.png);
}
.swiper-button-next::after {
  content: url(../assets/images/slider-right.png);
}

@media only screen and (max-width: 660px) {
  .slider__img-arrow-right,
  .slider__img-left,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
